<p data-parsoid='{"dsr":[0,13,0,0]}'>
    <strong class="Latn headword"
            lang="ca"
            about="#mwt1"
            typeof="mw:Transclusion"
            data-parsoid='{"stx":"html","dsr":[0,13,null,null],"pi":[[{"k":"1"}]]}'
            data-mw='{"parts":[{"template":{"target":{"wt":"ca-noun","href":"./Template:ca-noun"},"params":{"1":{"wt":"m"}},"i":0}}]}'>mes</strong>
    <span typeof="mw:Entity" about="#mwt1"> </span><span class="gender" about="#mwt1">
    <abbr
        title="masculine gender">m</abbr></span>
    <span about="#mwt1"> (</span><i about="#mwt1">plural</i>
    <span about="#mwt1"> </span>
    <b class="Latn form-of lang-ca p-form-of       " lang="ca" about="#mwt1">
        <a rel="mw:WikiLink" href="./mesos#Catalan" title="mesos" class="new">mesos</a>
    </b>

    <span about="#mwt1">)</span>
    <link rel="mw:PageProp/Category" href="./Category:Catalan_lemmas#MES" about="#mwt1"/>
    <link rel="mw:PageProp/Category" href="./Category:Catalan_nouns#MES" about="#mwt1"/>
    <link rel="mw:PageProp/Category" href="./Category:Catalan_nouns_with_missing_plurals#MES" about="#mwt1"/>
    <link rel="mw:PageProp/Category" href="./Category:Catalan_masculine_nouns#MES" about="#mwt1"
          data-parsoid='{"stx":"piped","a":{"href":"./Category:Catalan_masculine_nouns"},"sa":{"href":"Category:Catalan masculine nouns"}}'/>
</p>