<p data-parsoid='{"dsr":[0,69,0,0]}'>
    <strong class="Latn headword" lang="de" about="#mwt1" typeof="mw:Transclusion"
                                            data-parsoid='{"stx":"html","dsr":[0,69,null,null],"pi":[[{"k":"1"},{"k":"2"},{"k":"gen2","named":true},{"k":"3"},{"k":"4"},{"k":"dim2","named":true}]]}'
                                            data-mw='{"parts":[{"template":{"target":{"wt":"de-noun","href":"./Template:de-noun"},"params":{"1":{"wt":"n"},"2":{"wt":"Blattes"},"gen2":{"wt":"Blatts"},"3":{"wt":"Blätter"},"4":{"wt":"Blättchen"},"dim2":{"wt":"Blättlein"}},"i":0}}]}'>Blatt</strong>
    <span typeof="mw:Entity" about="#mwt1"> </span>
    <span class="gender" about="#mwt1">
        <abbr title="neuter gender">n</abbr>
    </span>
    <span about="#mwt1"> (</span><i about="#mwt1">genitive</i>
    <span about="#mwt1"> </span>
    <b class="Latn form-of lang-de gen|s-form-of       " lang="de" about="#mwt1"><a rel="mw:WikiLink"
                                                                                     href="./Blattes#German"
                                                                                     title="Blattes"
                                                                                     class="new">Blattes</a>
    </b>
    <span about="#mwt1"> </span><i about="#mwt1">or</i><span about="#mwt1"> </span>
    <b class="Latn form-of lang-de gen|s-form-of       " lang="de" about="#mwt1">
        <a rel="mw:WikiLink" href="./Blatts#German" title="Blatts" class="new">Blatts</a>
    </b>
    <span about="#mwt1">, </span><i about="#mwt1">plural</i><span about="#mwt1"> </span>
    <b class="Latn form-of lang-de p-form-of       " lang="de" about="#mwt1">
        <a rel="mw:WikiLink" href="./Blätter#German" title="Blätter" class="new">Blätter</a>
    </b>
    <span about="#mwt1">, </span><i about="#mwt1">diminutive</i><span about="#mwt1"> </span>
    <b class="Latn form-of lang-de diminutive-form-of gender-n      " lang="de" about="#mwt1"><a rel="mw:WikiLink"
                                                                                                  href="./Blättchen#German"
                                                                                                  title="Blättchen"
                                                                                                  class="new">Blättchen</a>
    </b>
    <span typeof="mw:Entity" about="#mwt1"> </span>
    <span class="gender" about="#mwt1"><abbr title="neuter gender">n</abbr></span>
    <span about="#mwt1"> </span><i about="#mwt1">or</i><span about="#mwt1"> </span>
    <b class="Latn form-of lang-de diminutive-form-of gender-n      " lang="de" about="#mwt1">
        <a rel="mw:WikiLink" href="./Blättlein#German" title="Blättlein" class="new">Blättlein</a>
    </b>
    <span typeof="mw:Entity" about="#mwt1"> </span>
    <span class="gender" about="#mwt1"><abbr title="neuter gender">n</abbr></span>
    <span about="#mwt1">)</span>
    <link rel="mw:PageProp/Category" href="./Category:German_lemmas#BLATT" about="#mwt1"/>
    <link rel="mw:PageProp/Category" href="./Category:German_nouns#BLATT" about="#mwt1"/>
    <link rel="mw:PageProp/Category" href="./Category:German_neuter_nouns#BLATT" about="#mwt1"/>
    <link rel="mw:PageProp/Category" href="./Category:German_neuter_nouns#BLATT" about="#mwt1"
          data-parsoid='{"stx":"piped","a":{"href":"./Category:German_neuter_nouns"},"sa":{"href":"Category:German neuter nouns"}}'/>
</p>