<p data-parsoid='{"dsr":[0,21,0,0]}'>
    <strong class="Latn headword" lang="de" about="#mwt1" typeof="mw:Transclusion"
            data-parsoid='{"stx":"html","dsr":[0,21,null,null],"pi":[[{"k":"1"},{"k":"g2","named":true},{"k":"2"},{"k":"3"}]]}'
            data-mw='{"parts":[{"template":{"target":{"wt":"de-noun","href":"./Template:de-noun"},"params":{"1":{"wt":"f"},"g2":{"wt":"m"},"2":{"wt":""},"3":{"wt":"-"}},"i":0}}]}'>
        Butter
    </strong>
    <span typeof="mw:Entity" about="#mwt1"> </span>

    <span class="gender" about="#mwt1">
        <abbr title="feminine gender">f</abbr> or <abbr title="masculine gender">m</abbr>
    </span>

    <span about="#mwt1"> (</span>
    <i about="#mwt1">genitive</i>
    <span about="#mwt1"> </span>

    <b class="Latn form-of lang-de gen|s-form-of       " lang="de" about="#mwt1">
        <strong class="selflink">Butter</strong>
    </b>

    <span about="#mwt1">, </span><i about="#mwt1">no plural</i><span about="#mwt1">)</span>

    <link rel="mw:PageProp/Category" href="./Category:German_lemmas#BUTTER" about="#mwt1"/>
    <link rel="mw:PageProp/Category" href="./Category:German_nouns#BUTTER" about="#mwt1"/>
    <link rel="mw:PageProp/Category" href="./Category:German_feminine_nouns#BUTTER" about="#mwt1"/>
    <link rel="mw:PageProp/Category" href="./Category:German_masculine_nouns#BUTTER" about="#mwt1"/>
    <link rel="mw:PageProp/Category" href="./Category:German_uncountable_nouns#BUTTER" about="#mwt1"/>
    <link rel="mw:PageProp/Category" href="./Category:German_feminine_nouns#BUTTER" about="#mwt1"/>
    <link rel="mw:PageProp/Category" href="./Category:German_masculine_nouns#BUTTER" about="#mwt1"/>
    <link rel="mw:PageProp/Category" href="./Category:German_nouns_with_multiple_genders#BUTTER" about="#mwt1"
          data-parsoid='{"stx":"piped","a":{"href":"./Category:German_nouns_with_multiple_genders"},"sa":{"href":"Category:German nouns with multiple genders"}}'/>
</p>