<p data-parsoid='{"dsr":[0,34,0,0]}'><strong class="Cyrl headword" lang="ru" about="#mwt1" typeof="mw:Transclusion"
                                             data-parsoid='{"stx":"html","dsr":[0,34,null,null],"pi":[[{"k":"1"},{"k":"a","named":true}]]}'
                                             data-mw='{"parts":[{"template":{"target":{"wt":"ru-noun+","href":"./Template:ru-noun+"},"params":{"1":{"wt":"же́нщина"},"a":{"wt":"an"}},"i":0}}]}'>же́нщина</strong><span
        about="#mwt1"> (</span><span lang="ru-Latn" class="headword-tr manual-tr tr Latn" dir="ltr" about="#mwt1">žénščina</span><span
        about="#mwt1">)</span><span typeof="mw:Entity" about="#mwt1"> </span><span class="gender" about="#mwt1"><abbr
        title="feminine gender">f</abbr><span typeof="mw:Entity"> </span><abbr title="animate">anim</abbr></span><span
        about="#mwt1"> (</span><i about="#mwt1">genitive</i><span about="#mwt1"> </span><b class="Cyrl" lang="ru"
                                                                                           about="#mwt1"><a
        rel="mw:WikiLink" href="./женщины#Russian" title="женщины" class="new">же́нщины</a></b><span
        about="#mwt1">, </span><i about="#mwt1">nominative plural</i><span about="#mwt1"> </span><b class="Cyrl"
                                                                                                    lang="ru"
                                                                                                    about="#mwt1"><a
        rel="mw:WikiLink" href="./женщины#Russian" title="женщины" class="new">же́нщины</a></b><span
        about="#mwt1">, </span><i about="#mwt1">genitive plural</i><span about="#mwt1"> </span><b class="Cyrl" lang="ru"
                                                                                                  about="#mwt1"><a
        rel="mw:WikiLink" href="./женщин#Russian" title="женщин" class="new">же́нщин</a></b><span about="#mwt1">)</span>
    <link rel="mw:PageProp/Category" href="./Category:Russian_lemmas#ЖЕНЩИНА" about="#mwt1"/>
    <link rel="mw:PageProp/Category" href="./Category:Russian_nouns#ЖЕНЩИНА" about="#mwt1"/>
    <link rel="mw:PageProp/Category" href="./Category:Russian_feminine_nouns#ЖЕНЩИНА" about="#mwt1"/>
    <link rel="mw:PageProp/Category" href="./Category:Russian_animate_nouns#ЖЕНЩИНА" about="#mwt1"
          data-parsoid='{"stx":"piped","a":{"href":"./Category:Russian_animate_nouns"},"sa":{"href":"Category:Russian animate nouns"}}'/>
</p>