<p data-parsoid='{"dsr":[0,13,0,0]}'><strong class="Latn headword" lang="sv" about="#mwt1" typeof="mw:Transclusion"
                                             data-parsoid='{"stx":"html","dsr":[0,13,null,null],"pi":[[{"k":"1"}]]}'
                                             data-mw='{"parts":[{"template":{"target":{"wt":"sv-noun","href":"./Template:sv-noun"},"params":{"1":{"wt":"c"}},"i":0}}]}'>kvinna</strong><span
        typeof="mw:Entity" about="#mwt1"> </span><span class="gender" about="#mwt1"><abbr title="common gender">c</abbr></span>
    <link rel="mw:PageProp/Category" href="./Category:Swedish_lemmas#KVINNA" about="#mwt1"/>
    <link rel="mw:PageProp/Category" href="./Category:Swedish_nouns#KVINNA" about="#mwt1"/>
    <link rel="mw:PageProp/Category" href="./Category:Swedish_common-gender_nouns#KVINNA" about="#mwt1"/>
    <link rel="mw:PageProp/Category" href="./Category:Swedish_common-gender_nouns#KVINNA" about="#mwt1"
          data-parsoid='{"stx":"piped","a":{"href":"./Category:Swedish_common-gender_nouns"},"sa":{"href":"Category:Swedish common-gender nouns"}}'/>
</p>Ò