<h2 id="French">French</h2>
<section data-mw-section-id="33" id="mwAXM">
 <h3 id="Etymology_6">Etymology</h3>
 <p id="mwAXQ"><a rel="mw:WikiLink" href="./Appendix:Glossary#inherited" title="Appendix:Glossary" about="#mwt384" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;inh+&quot;,&quot;href&quot;:&quot;./Template:inh+&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;fr&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;fro&quot;},&quot;3&quot;:{&quot;wt&quot;:&quot;-&quot;}},&quot;i&quot;:0}}]}" id="mwAXU">Inherited</a><span about="#mwt384"> from </span><span class="etyl" about="#mwt384" id="mwAXY"><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Old%20French" title="w:Old French" class="extiw">Old French</a>
   <link rel="mw:PageProp/Category" href="./Category:French_terms_inherited_from_Old_French#SIMPLE">
   <link rel="mw:PageProp/Category" href="./Category:French_terms_derived_from_Old_French#SIMPLE"></span>, borrowed from <span class="etyl" about="#mwt385" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;bor&quot;,&quot;href&quot;:&quot;./Template:bor&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;fr&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;la&quot;},&quot;3&quot;:{&quot;wt&quot;:&quot;simplex&quot;}},&quot;i&quot;:0}}]}" id="mwAXc"><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Latin" title="w:Latin" class="extiw">Latin</a>
   <link rel="mw:PageProp/Category" href="./Category:French_terms_borrowed_from_Latin#SIMPLE">
   <link rel="mw:PageProp/Category" href="./Category:French_terms_derived_from_Latin#SIMPLE"></span><span about="#mwt385"> </span><i class="Latn mention" lang="la" about="#mwt385" id="mwAXg"><a rel="mw:WikiLink" href="./simplex#Latin" title="simplex">simplex</a></i>.</p>
</section>
<section data-mw-section-id="34" id="mwAXk">
 <h3 id="Pronunciation_4">Pronunciation</h3>
 <ul id="mwAXo">
  <li id="mwAXs"><a rel="mw:WikiLink" href="./Wiktionary:International_Phonetic_Alphabet" title="Wiktionary:International Phonetic Alphabet" about="#mwt386" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;fr-IPA&quot;,&quot;href&quot;:&quot;./Template:fr-IPA&quot;},&quot;params&quot;:{},&quot;i&quot;:0}}]}" id="mwAXw">IPA</a><sup about="#mwt386">(<a rel="mw:WikiLink" href="./Appendix:French_pronunciation" title="Appendix:French pronunciation">key</a>)</sup><span about="#mwt386">:</span><span typeof="mw:Entity" about="#mwt386"> </span><span class="IPA" about="#mwt386">/sɛ̃pl/</span>
   <link rel="mw:PageProp/Category" href="./Category:French_1-syllable_words" about="#mwt386">
   <link rel="mw:PageProp/Category" href="./Category:French_terms_with_IPA_pronunciation#SIMPLE" about="#mwt386" id="mwAX0"></li>
  <li id="mwAX4">
   <link rel="mw-deduplicated-inline-style" href="mw-data:TemplateStyles:r50165410" about="#mwt387" typeof="mw:Extension/templatestyles mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;audio&quot;,&quot;href&quot;:&quot;./Template:audio&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;fr&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;Fr-simple.ogg&quot;},&quot;3&quot;:{&quot;wt&quot;:&quot;audio&quot;}},&quot;i&quot;:0}}]}" id="mwAX8">
   <table class="audiotable" style="vertical-align: middle; display:inline-block; list-style:none;line-height: 1em; border-collapse:collapse;" about="#mwt387">
    <tbody>
     <tr>
      <td class="unicode audiolink" style="padding-right:5px; padding-left: 0;">audio</td>
      <td class="audiofile"><span typeof="mw:File" class="mw-default-audio-height" data-mw="{&quot;caption&quot;:&quot;noicon&quot;}"><span title="noicon">
         <audio controls="" preload="none" height="32" width="175" resource="./File:Fr-simple.ogg" class="mw-file-element">
          <source src="//upload.wikimedia.org/wikipedia/commons/a/af/Fr-simple.ogg" type="audio/ogg; codecs=&quot;vorbis&quot;" data-title="Original Ogg file (112 kbps)" data-shorttitle="Ogg source"><source src="//upload.wikimedia.org/wikipedia/commons/transcoded/a/af/Fr-simple.ogg/Fr-simple.ogg.mp3" type="audio/mpeg" data-title="MP3" data-shorttitle="MP3">
         </audio></span></span></td>
      <td class="audiometa" style="font-size: 80%;">(<a rel="mw:WikiLink" href="./File:Fr-simple.ogg" title="File:Fr-simple.ogg">file</a>)</td>
     </tr>
    </tbody>
   </table>
   <link rel="mw:PageProp/Category" href="./Category:French_terms_with_audio_links#SIMPLE" about="#mwt387" id="mwAYA"></li>
 </ul>
</section>
<section data-mw-section-id="35" id="mwAYE">
 <h3 id="Adjective_5">Adjective</h3>
 <table class="floatright" cellpadding="5" cellspacing="0" style="background: #ffffff; border: 1px #aaa solid; border-collapse: collapse; margin-top: .5em;" rules="all" about="#mwt390" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;number box&quot;,&quot;href&quot;:&quot;./Template:number_box&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;fr&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;1&quot;}},&quot;i&quot;:0}}]}" id="mwAYI">
  <caption>
   <b><a rel="mw:WikiLink" href="./Appendix:French_numerals" title="Appendix:French numerals" class="mw-redirect">French numbers</a> <sup>(<span class="plainlinks"><a rel="mw:ExtLink" href="//en.wiktionary.org/w/index.php?title=Module%3Anumber_list%2Fdata%2Ffr&amp;action=edit" class="external text">edit</a></span>)</sup></b>
  </caption>
  <tbody>
   <tr style="text-align: center; background:#dddddd;">
    <td colspan="2"></td>
    <td style="min-width: 6em; font-size:smaller; "><a rel="mw:WikiLink" href="./décuple#French" title="décuple">10</a></td>
    <td colspan="2"></td>
   </tr>
   <tr style="text-align: center;">
    <td style="min-width: 6em; font-size:smaller; background:#dddddd; "></td>
    <td style="min-width: 6em; font-size:smaller; background:#dddddd; "></td>
    <th style="min-width: 6em; font-size:larger; ">1</th>
    <td style="min-width: 6em; font-size:smaller; background:#dddddd; "><a rel="mw:WikiLink" href="./double#French" title="double">2&nbsp;&nbsp;→&nbsp;</a></td>
    <td style="min-width: 6em; font-size:smaller; background:#dddddd; "><a rel="mw:WikiLink" href="./décuple#French" title="décuple">10&nbsp;&nbsp;→&nbsp;</a></td>
   </tr>
   <tr>
    <td colspan="5" style="text-align: center;"><span typeof="mw:Entity">&nbsp;</span><span typeof="mw:Entity">&nbsp;</span><span typeof="mw:Entity">&nbsp;</span> <i><a rel="mw:WikiLink" href="./cardinal_number" title="cardinal number">Cardinal</a></i>: <span class="Latn" lang="fr"><a rel="mw:WikiLink" href="./un#French" title="un">un</a></span><br><span typeof="mw:Entity">&nbsp;</span><span typeof="mw:Entity">&nbsp;</span><span typeof="mw:Entity">&nbsp;</span> <i><a rel="mw:WikiLink" href="./ordinal_number" title="ordinal number">Ordinal</a></i>: <span class="Latn" lang="fr"><a rel="mw:WikiLink" href="./premier#French" title="premier">premier</a></span><br><span typeof="mw:Entity">&nbsp;</span><span typeof="mw:Entity">&nbsp;</span><span typeof="mw:Entity">&nbsp;</span> <i><a rel="mw:WikiLink" href="./ordinal_number" title="ordinal number">Ordinal</a> <a rel="mw:WikiLink" href="./abbreviation" title="abbreviation">abbreviation</a></i>: <span class="Latn" lang="fr"><a rel="mw:WikiLink" href="./1er#French" title="1er">1er</a></span><br><span typeof="mw:Entity">&nbsp;</span><span typeof="mw:Entity">&nbsp;</span><span typeof="mw:Entity">&nbsp;</span> <i><b><a rel="mw:WikiLink" href="./multiplier" title="multiplier">Multiplier</a></b></i>: <span class="Latn" lang="fr"><strong class="selflink">simple</strong></span><br><span typeof="mw:Entity">&nbsp;</span><span typeof="mw:Entity">&nbsp;</span><span typeof="mw:Entity">&nbsp;</span> <i><a rel="mw:WikiLink" href="./fractional" title="fractional">Fractional</a></i>: <span class="Latn" lang="fr"><a rel="mw:WikiLink" href="./entier#French" title="entier">entier</a></span></td>
   </tr>
   <tr style="text-align: center;">
    <td colspan="5" style="min-width: 6em; background:#dddddd; "><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/fr:Main%20Page" title="w:fr:Main Page" class="extiw">French Wikipedia</a> article on <span class="None" lang="fr"><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/fr:1%20(nombre)" title="w:fr:1 (nombre)" class="extiw">1</a></span></td>
   </tr>
  </tbody>
 </table>
 <p id="mwAYM"><strong class="Latn headword" lang="fr" about="#mwt391" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;fr-adj&quot;,&quot;href&quot;:&quot;./Template:fr-adj&quot;},&quot;params&quot;:{},&quot;i&quot;:0}}]}" id="mwAYQ">simple</strong><span about="#mwt391"> (</span><i about="#mwt391">plural</i><span about="#mwt391"> </span><b class="Latn form-of lang-fr p-form-of        " lang="fr" about="#mwt391"><a rel="mw:WikiLink" href="./simples#French" title="simples">simples</a></b><span about="#mwt391">)</span>
  <link rel="mw:PageProp/Category" href="./Category:French_lemmas#SIMPLE" about="#mwt391">
  <link rel="mw:PageProp/Category" href="./Category:French_adjectives#SIMPLE" about="#mwt391" id="mwAYU"></p>
 <ol id="mwAYY">
  <li id="mwAYc"><a rel="mw:WikiLink" href="./single" title="single" id="mwAYg">single</a> (multiplier) 
   <dl id="mwAYk">
    <dd id="mwAYo">
     <div class="h-usage-example" about="#mwt392" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;ux&quot;,&quot;href&quot;:&quot;./Template:ux&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;fr&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;comptabilité en partie '''simple''' et double&quot;},&quot;3&quot;:{&quot;wt&quot;:&quot;single-entry and double-entry bookkeping&quot;}},&quot;i&quot;:0}}]}" id="mwAYs">
      <i class="Latn mention e-example" lang="fr">comptabilité en partie <b>simple</b> et double</i>
      <dl>
       <dd>
        <span class="e-translation">single-entry and double-entry bookkeping</span>
       </dd>
      </dl>
     </div>
     <link rel="mw:PageProp/Category" href="./Category:French_terms_with_usage_examples#SIMPLE" about="#mwt392" id="mwAYw">
    </dd>
    <dd id="mwAY0">
     <div class="h-usage-example" about="#mwt393" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;ux&quot;,&quot;href&quot;:&quot;./Template:ux&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;fr&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;passer du '''simple''' au double, du '''simple''' au triple...&quot;},&quot;3&quot;:{&quot;wt&quot;:&quot;to double, triple...&quot;}},&quot;i&quot;:0}}]}" id="mwAY4">
      <i class="Latn mention e-example" lang="fr">passer du <b>simple</b> au double, du <b>simple</b> au triple...</i>
      <dl>
       <dd>
        <span class="e-translation">to double, triple...</span>
       </dd>
      </dl>
     </div>
     <link rel="mw:PageProp/Category" href="./Category:French_terms_with_usage_examples#SIMPLE" about="#mwt393" id="mwAY8">
    </dd>
   </dl></li>
  <li id="mwAZA"><span class="Latn" lang="en" about="#mwt394" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;l&quot;,&quot;href&quot;:&quot;./Template:l&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;en&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;simple&quot;}},&quot;i&quot;:0}}]}" id="mwAZE"><a rel="mw:WikiLink" href="./simple#English" title="simple">simple</a></span>
   <dl id="mwAZI">
    <dd id="mwAZM">
     <div class="h-usage-example" about="#mwt395" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;ux&quot;,&quot;href&quot;:&quot;./Template:ux&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;fr&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;Un homme simple&quot;},&quot;3&quot;:{&quot;wt&quot;:&quot;A simple man&quot;}},&quot;i&quot;:0}}]}" id="mwAZQ">
      <i class="Latn mention e-example" lang="fr">Un homme simple</i>
      <dl>
       <dd>
        <span class="e-translation">A simple man</span>
       </dd>
      </dl>
     </div>
     <link rel="mw:PageProp/Category" href="./Category:French_terms_with_usage_examples#SIMPLE" about="#mwt395" id="mwAZU">
    </dd>
   </dl></li>
  <li id="mwAZY"><a rel="mw:WikiLink" href="./one-way" title="one-way" id="mwAZc">one-way</a>
   <dl id="mwAZg">
    <dd id="mwAZk">
     <div class="h-usage-example" about="#mwt396" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;ux&quot;,&quot;href&quot;:&quot;./Template:ux&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;fr&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;Un billet simple&quot;},&quot;3&quot;:{&quot;wt&quot;:&quot;A one-way ticket&quot;}},&quot;i&quot;:0}}]}" id="mwAZo">
      <i class="Latn mention e-example" lang="fr">Un billet simple</i>
      <dl>
       <dd>
        <span class="e-translation">A one-way ticket</span>
       </dd>
      </dl>
     </div>
     <link rel="mw:PageProp/Category" href="./Category:French_terms_with_usage_examples#SIMPLE" about="#mwt396" id="mwAZs">
    </dd>
   </dl></li>
  <li id="mwAZw"><a rel="mw:WikiLink" href="./mere" title="mere" id="mwAZ0">mere</a>
   <dl id="mwAZ4">
    <dd id="mwAZ8">
     <div class="h-usage-example" about="#mwt397" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;ux&quot;,&quot;href&quot;:&quot;./Template:ux&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;fr&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;Un simple soldat&quot;},&quot;3&quot;:{&quot;wt&quot;:&quot;A mere soldier&quot;}},&quot;i&quot;:0}}]}" id="mwAaA">
      <i class="Latn mention e-example" lang="fr">Un simple soldat</i>
      <dl>
       <dd>
        <span class="e-translation">A mere soldier</span>
       </dd>
      </dl>
     </div>
     <link rel="mw:PageProp/Category" href="./Category:French_terms_with_usage_examples#SIMPLE" about="#mwt397" id="mwAaE">
    </dd>
   </dl></li>
 </ol>
 <section data-mw-section-id="36" id="mwAaI">
  <h4 id="Usage_notes">Usage notes</h4>
  <p id="mwAaM">The second and third meanings are taken when the adjective is placed after the noun. The fourth meaning is taken when it is located before the noun.</p>
 </section>
 <section data-mw-section-id="37" id="mwAaQ">
  <h4 id="Derived_terms_4">Derived terms</h4>
  <div class="list-switcher" data-toggle-category="derived terms" about="#mwt398" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;col3&quot;,&quot;href&quot;:&quot;./Template:col3&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;fr\n&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;aller simple\n&quot;},&quot;3&quot;:{&quot;wt&quot;:&quot;corps simple\n&quot;},&quot;4&quot;:{&quot;wt&quot;:&quot;dans le plus simple appareil\n&quot;},&quot;5&quot;:{&quot;wt&quot;:&quot;dans son plus simple appareil\n&quot;},&quot;6&quot;:{&quot;wt&quot;:&quot;en partie simple\n&quot;},&quot;7&quot;:{&quot;wt&quot;:&quot;futur simple\n&quot;},&quot;8&quot;:{&quot;wt&quot;:&quot;passé simple\n&quot;},&quot;9&quot;:{&quot;wt&quot;:&quot;phrase simple\n&quot;},&quot;10&quot;:{&quot;wt&quot;:&quot;réduire à sa plus simple expression\n&quot;},&quot;11&quot;:{&quot;wt&quot;:&quot;simple comme bonjour\n&quot;},&quot;12&quot;:{&quot;wt&quot;:&quot;simple d'esprit\n&quot;},&quot;13&quot;:{&quot;wt&quot;:&quot;simplement\n&quot;}},&quot;i&quot;:0}}]}" id="mwAaU">
   <div class="derivedterms term-list ul-column-count" data-column-count="3" style="background-color:#F8F8FF">
    <ul>
     <li><span class="Latn" lang="fr"><a rel="mw:WikiLink" href="./aller_simple#French" title="aller simple">aller simple</a></span></li>
     <li><span class="Latn" lang="fr"><a rel="mw:WikiLink" href="./corps_simple#French" title="corps simple">corps simple</a></span></li>
     <li><span class="Latn" lang="fr"><a rel="mw:WikiLink" href="./dans_le_plus_simple_appareil#French" title="dans le plus simple appareil">dans le plus simple appareil</a></span></li>
     <li><span class="Latn" lang="fr"><a rel="mw:WikiLink" href="./dans_son_plus_simple_appareil#French" title="dans son plus simple appareil">dans son plus simple appareil</a></span></li>
     <li><span class="Latn" lang="fr"><a rel="mw:WikiLink" href="./en_partie_simple#French" title="en partie simple">en partie simple</a></span></li>
     <li><span class="Latn" lang="fr"><a rel="mw:WikiLink" href="./futur_simple#French" title="futur simple">futur simple</a></span></li>
     <li><span class="Latn" lang="fr"><a rel="mw:WikiLink" href="./passé_simple#French" title="passé simple">passé simple</a></span></li>
     <li><span class="Latn" lang="fr"><a rel="mw:WikiLink" href="./phrase_simple#French" title="phrase simple">phrase simple</a></span></li>
     <li><span class="Latn" lang="fr"><a rel="mw:WikiLink" href="./réduire_à_sa_plus_simple_expression#French" title="réduire à sa plus simple expression">réduire à sa plus simple expression</a></span></li>
     <li><span class="Latn" lang="fr"><a rel="mw:WikiLink" href="./simple_comme_bonjour#French" title="simple comme bonjour">simple comme bonjour</a></span></li>
     <li><span class="Latn" lang="fr"><a rel="mw:WikiLink" href="./simple_d'esprit#French" title="simple d'esprit">simple d'esprit</a></span></li>
     <li><span class="Latn" lang="fr"><a rel="mw:WikiLink" href="./simplement#French" title="simplement">simplement</a></span></li>
    </ul>
   </div>
   <div class="list-switcher-element" data-showtext="&nbsp;show more ▼&nbsp;" data-hidetext="&nbsp;show less ▲&nbsp;" style="display:none">
    &nbsp;
   </div>
  </div>
 </section>
 <section data-mw-section-id="38" id="mwAaY">
  <h4 id="Descendants">Descendants</h4>
  <ul id="mwAac">
   <li id="mwAag"><span class="desc-arr" title="borrowed" about="#mwt399" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;desc&quot;,&quot;href&quot;:&quot;./Template:desc&quot;},&quot;params&quot;:{&quot;bor&quot;:{&quot;wt&quot;:&quot;1&quot;},&quot;1&quot;:{&quot;wt&quot;:&quot;ro&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;simplu&quot;}},&quot;i&quot;:0}}]}" id="mwAak">→</span><span about="#mwt399"> Romanian: </span><span class="Latn" lang="ro" about="#mwt399"><a rel="mw:WikiLink" href="./simplu#Romanian" title="simplu">simplu</a></span>
    <style data-mw-deduplicate="TemplateStyles:r68481116" typeof="mw:Extension/templatestyles" about="#mwt399" data-mw="{&quot;name&quot;:&quot;templatestyles&quot;,&quot;attrs&quot;:{&quot;src&quot;:&quot;Module:etymology/style.css&quot;},&quot;body&quot;:{&quot;extsrc&quot;:&quot;&quot;}}">.mw-parser-output .desc-arr[title]{cursor:help}.mw-parser-output .desc-arr[title="uncertain"]{font-size:.7em;vertical-align:super}</style></li>
  </ul>
 </section>
</section>
<section data-mw-section-id="39" id="mwAao">
 <h3 id="Noun_2">Noun</h3>
 <p id="mwAas"><strong class="Latn headword" lang="fr" about="#mwt402" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;fr-noun&quot;,&quot;href&quot;:&quot;./Template:fr-noun&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;m&quot;}},&quot;i&quot;:0}}]}" id="mwAaw">simple</strong><span typeof="mw:Entity" about="#mwt402">&nbsp;</span><span class="gender" about="#mwt402"><abbr title="masculine gender">m</abbr></span><span about="#mwt402"> (</span><i about="#mwt402">plural</i><span about="#mwt402"> </span><b class="Latn form-of lang-fr p-form-of        " lang="fr" about="#mwt402"><a rel="mw:WikiLink" href="./simples#French" title="simples">simples</a></b><span about="#mwt402">)</span>
  <link rel="mw:PageProp/Category" href="./Category:French_lemmas#SIMPLE" about="#mwt402">
  <link rel="mw:PageProp/Category" href="./Category:French_nouns#SIMPLE" about="#mwt402">
  <link rel="mw:PageProp/Category" href="./Category:French_countable_nouns#SIMPLE" about="#mwt402">
  <link rel="mw:PageProp/Category" href="./Category:French_masculine_nouns#SIMPLE" about="#mwt402" id="mwAa0"></p>
 <ol id="mwAa4">
  <li id="mwAa8">one-way ticket</li>
  <li id="mwAbA"><span class="ib-brac" about="#mwt403" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;lb&quot;,&quot;href&quot;:&quot;./Template:lb&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;fr&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;baseball&quot;}},&quot;i&quot;:0}}]}" id="mwAbE">(</span><span class="ib-content" about="#mwt403"><a rel="mw:WikiLink" href="./baseball" title="baseball">baseball</a>
    <link rel="mw:PageProp/Category" href="./Category:fr:Baseball#SIMPLE"></span><span class="ib-brac" about="#mwt403" id="mwAbI">)</span> <a rel="mw:WikiLink" href="./single#Noun" title="single" id="mwAbM">single</a></li>
 </ol>
 <section data-mw-section-id="40" id="mwAbQ">
  <h4 id="Related_terms_2">Related terms</h4>
  <div class="list-switcher" data-toggle-category="derived terms" about="#mwt404" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;rel4&quot;,&quot;href&quot;:&quot;./Template:rel4&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;fr&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;aller simple&quot;},&quot;3&quot;:{&quot;wt&quot;:&quot;simplement&quot;},&quot;4&quot;:{&quot;wt&quot;:&quot;simplicité&quot;},&quot;5&quot;:{&quot;wt&quot;:&quot;simplifier&quot;}},&quot;i&quot;:0}}]}" id="mwAbU">
   <div class="derivedterms term-list ul-column-count" data-column-count="4" style="background-color:#F8F8FF">
    <ul>
     <li><span class="Latn" lang="fr"><a rel="mw:WikiLink" href="./aller_simple#French" title="aller simple">aller simple</a></span></li>
     <li><span class="Latn" lang="fr"><a rel="mw:WikiLink" href="./simplement#French" title="simplement">simplement</a></span></li>
     <li><span class="Latn" lang="fr"><a rel="mw:WikiLink" href="./simplicité#French" title="simplicité">simplicité</a></span></li>
     <li><span class="Latn" lang="fr"><a rel="mw:WikiLink" href="./simplifier#French" title="simplifier">simplifier</a></span></li>
    </ul>
   </div>
   <div class="list-switcher-element" data-showtext="&nbsp;show more ▼&nbsp;" data-hidetext="&nbsp;show less ▲&nbsp;" style="display:none">
    &nbsp;
   </div>
  </div>
 </section>
</section>
<section data-mw-section-id="41" id="mwAbY">
 <h3 id="Further_reading_2">Further reading</h3>
 <ul id="mwAbc">
  <li id="mwAbg"><span about="#mwt405" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;R:fr:TLFi&quot;,&quot;href&quot;:&quot;./Template:R:fr:TLFi&quot;},&quot;params&quot;:{},&quot;i&quot;:0}}]}" id="mwAbk">“</span><a rel="mw:ExtLink nofollow" href="https://www.cnrtl.fr/definition/simple" about="#mwt405" class="external text">simple</a><span about="#mwt405">”, in</span><span typeof="mw:Entity" about="#mwt405"> </span><cite about="#mwt405"><span class="Latn" lang="fr"><a rel="mw:WikiLink/Interwiki" href="https://en.wikipedia.org/wiki/Trésor%20de%20la%20langue%20française%20informatisé" title="w:Trésor de la langue française informatisé" class="extiw">Trésor de la langue française informatisé</a></span> <span style="font-style: normal;">[</span>Digitized Treasury of the French Language<span style="font-style: normal;">]</span></cite><span about="#mwt405">, 2012.</span></li>
 </ul>
</section>
<section data-mw-section-id="42" id="mwAbo">
 <h3 id="Anagrams_2">Anagrams</h3>
 <ul id="mwAbs">
  <li id="mwAbw"><span class="Latn" lang="fr" about="#mwt406" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;l&quot;,&quot;href&quot;:&quot;./Template:l&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;fr&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;emplis&quot;}},&quot;i&quot;:0}}]}" id="mwAb0"><a rel="mw:WikiLink" href="./emplis#French" title="emplis">emplis</a></span></li>
 </ul>
 <link rel="mw:PageProp/Category" href="./Category:fr:Personality#SIMPLE" about="#mwt407" typeof="mw:Transclusion" data-mw="{&quot;parts&quot;:[{&quot;template&quot;:{&quot;target&quot;:{&quot;wt&quot;:&quot;C&quot;,&quot;href&quot;:&quot;./Template:C&quot;},&quot;params&quot;:{&quot;1&quot;:{&quot;wt&quot;:&quot;fr&quot;},&quot;2&quot;:{&quot;wt&quot;:&quot;Personality&quot;}},&quot;i&quot;:0}}]}" id="mwAb4">
</section>
