<ul>
    <li>
        <a href="/wiki/Wiktionary:International_Phonetic_Alphabet" title="Wiktionary:International Phonetic Alphabet">IPA</a>
        <sup>
            (
            <a href="/wiki/Appendix:Esperanto_pronunciation" title="Appendix:Esperanto pronunciation">key</a>
            )
        </sup>
        :
        <span class="IPA">/t͡ʃevaˈlido/</span>
    </li>
    <li>Hyphenation: ĉe‧va‧li‧do</li>
    <li>
        Rhymes:
        <a href="/wiki/Rhymes:Esperanto/ido" title="Rhymes:Esperanto/ido">
            <span class="IPA">-ido</span>
        </a>
    </li>
    <li>
        Audio:
        <style data-mw-deduplicate="TemplateStyles:r50165410">.mw-parser-output .k-player .k-attribution{visibility:hidden}
  </style>
        <table class="audiotable" style="vertical-align: bottom; display:inline-block; list-style:none;line-height: 1em; border-collapse:collapse;">
            <tbody>
            <tr>
                <td class="audiofile">
                    <div class="mediaContainer" style="width:175px">
                        <audio id="mwe_player_0" controls="" preload="none" style="width:175px" class="kskin" data-durationhint="1.8575963718821" data-startoffset="0" data-mwtitle="Eo-ĉevalido.ogg" data-mwprovider="wikimediacommons">
                            <source src="//upload.wikimedia.org/wikipedia/commons/e/ed/Eo-%C4%89evalido.ogg" type="audio/ogg; codecs=&quot;vorbis&quot;" data-title="Original Ogg file (67 kbps)" data-shorttitle="Ogg source" data-width="0" data-height="0" data-bandwidth="66688">
                            <source src="//upload.wikimedia.org/wikipedia/commons/transcoded/e/ed/Eo-%C4%89evalido.ogg/Eo-%C4%89evalido.ogg.mp3" type="audio/mpeg" data-title="MP3" data-shorttitle="MP3" data-transcodekey="mp3" data-width="0" data-height="0" data-bandwidth="94248">
                        </audio>
                    </div>
                </td>
                <td class="audiometa" style="font-size: 80%;">
                    (
                    <a href="/wiki/File:Eo-%C4%89evalido.ogg" title="File:Eo-ĉevalido.ogg">file</a>
                    )
                </td>
            </tr>
            </tbody>
        </table>
    </li>
</ul>
